[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
awswrangler = "*"
pandas = "*"
python-dotenv = "*"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.9"
